.bg-footer-gradient {
  background: linear-gradient(to right, #000428, #004e92);
}

.footer-link {
  color: #f1f1f1;
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffc107;
}

.social-icons a {
  color: #ffffff;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffc107;
}

input.form-control {
  border-radius: 0;
  outline: none;
}

input.form-control:focus {
  box-shadow: none;
}
