<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand" routerLink="/">EduManage</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li *ngIf="role === 'ADMIN'" class="nav-item">
        <a class="nav-link" routerLink="/admin-dashboard">Admin</a>
      </li>
      <li *ngIf="role === 'TEACHER'" class="nav-item">
        <a class="nav-link" routerLink="/teacher-dashboard">Teacher</a>
      </li>
      <li *ngIf="role === 'STUDENT'" class="nav-item">
        <a class="nav-link" routerLink="/student-dashboard">Student</a>
      </li>
      <li *ngIf="role" class="nav-item">
        <span class="nav-link disabled text-light">Welcome, {{ username }}</span>
      </li>
      <li *ngIf="role" class="nav-item">
        <a class="nav-link text-danger" href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
